<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <h2>Add food and calories</h2>

      <div id="new-food-wrapper">
        <%= render "form" %>
      </div>

      <div id="foods-wrapper">
        <%= render "foods_table" %>
      </div>
    </div>
  </div>
</div>
