<div class="homepage">

  <h2>Foods Consumed</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <!-- Helper method 'sortable' found in helpers/application_helper -->
        <th class="name-column"><%= sortable "name" %></th>
        <th class="calories-column"><%= sortable "calories" %></th>
      </tr>
    </thead>
    <% for food in @foods %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.calories %></td>
      </tr>
    <% end %>
  </table>
</div>
