<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <%= line_chart @foods.group_by_day(:created_at, format: "%B %d, %Y").count, discrete: true %>

      <h2>Add food and calories</h2>

      <div id="new-food-wrapper">
        <%= render "form" %>
      </div>

      <div id="foods-wrapper">
        <%= render "foods_table" %>
      </div>
    </div>
  </div>
</div>
