 <!-- <%# content_for :custom_styles do %>
   body{background: url('1.jpg');}
 <%#end%> -->
 <!-- possibly use it to dynamically change background image -->

<div class="homepage">
  <div class="container">
    <div class= "jumbotron">
      <h1>Tracker</h1>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 panel introduction intro">
        <h2>Welcome to A Simple Fitness Tracker.</h2>
        <h3> When you sign up you can track your daily intake <br/>  of food as well as how much you are exercising.</h3>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary"  %>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 panel introduction search">
        <h2>To Get You Started</h2>
        <h3> Check out the Calorie Count of the Foods You Are Eating</h3>
        <%= link_to "Search Bar", new_user_registration_path, class: "btn btn-lg btn-success"  %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 panel result">

        <div id="foods-wrapper">

        <%= render "foods_table" %>

        </div>

      </div>
    </div>
  </div>
