/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

html body{
  height:100%;
  width: 100%;
}


body {

  background-image: image-url('1.jpg');
  background-size: cover;
}


.jumbotron{

 text-align: center;
 background-color: rgba(255,255,255,0);
 letter-spacing: 13px;
}



.jumbotron h1{
   color: #BFBBB4;
   text-shadow: .12em .075em 2px rgba(0,0,0,.51);
   font-size: 7em;
}

@media screen and (max-width: 663px){
  .jumbotron h1{
    font-size: 3em;
  }

  .introduction h2{
    font-size:1.5em;
    padding-top:10px;
  }
  .introduction h3{
    font-size: 1.25em;
    padding-bottom: 30px;
  }
}




table, th, td, tr {
  // width: 100%;
  // border: 1px solid #ddd;
}


.introduction {
  background-color: rgba(215,224, 188,.1);
  text-align: center;
  text-shadow: .05em .05em 1px rgba(0,0,0,.51);
}
.introduction h2{

  padding-top:10px;
}
.introduction h3{
  padding-bottom: 30px;
}
.introduction a{
  margin-bottom: 30px;
}
.search{
  background-color: rgba(13,255, 245,.08);
}

.intro .btn{
  width: 65%;
}


// navbar styling
.navbar{
  background-color: rgba(255,255, 255,.2);
  border: 0px;

}

.navbar-default .navbar-brand{
  color: #000;
  font-family: san-serif, cursive;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  color: #333;
}

.result {
  background-color: rgba(255,255, 255,.2);
  border-radius: 5px;
}

.panel {
  box-shadow: 20px 20px 20px #373535;
}
