/*
 * Note: using simple forms with bootstrap requires:
 * 'rails generate simple_form:install --bootstrap'
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

html{
  min-height:100%;
}


body {

  background-color: white;

  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  padding-top: 50px;
}


.jumbotron{

 text-align: center;
 background-color: rgba(255,255,255,0);
 letter-spacing: 13px;
}



.jumbotron h1{
   color: #A7CCEB;
   text-shadow: .08em .075em 2px rgba(0,0,0,.7);
   font-size: 8em;
   font-family: 'Lobster Two', cursive;
}


.introduction {


  text-shadow: .07em .07em 2px rgba(0,0,0,.51);
}


.signup {
  margin-left:12%;
  margin-top: 30px;
  padding-top:1%;
  padding-left:2%;
  font-size: 15px;
  color:white;
  text-shadow: .1em .1em 1px rgba(0,0,0,.51);
}



.signup h2{
  font-size:25px;
  text-align: center;
  padding-top:10px;

}
.signup h3{
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
}
.introduction a{
  margin-top:30px;
  margin-bottom: 30px;
}
//fixs the picture inside a div and the text scrolls through

.intro{
  text-align: center;
  background-image: image-url('2.jpg');
  background-repeat: no-repeat;
  background-position:bottom;
  background-attachment:fixed;
}
//
.intro .btn{
  width: 65%;
  box-shadow: 10px 10px 10px #373535;
}

.search{
  text-align: right;
  margin-top: 30px;

}

.search h2, .result h2{
  text-align: center;
  padding-top:10px;
}

.search h3, {
  text-align: center;
  padding-bottom: 30px;
}
.search .btn{
  box-shadow: 10px 10px 10px #373535;
}

.result {

  margin-top:15px;
  background-color: rgba(255,255, 255,.9);
  border-radius: 5px;
}
@media screen and (max-width: 663px){
  .jumbotron h1{
    padding-top:30px;
    margin-bottom:0px;
    font-size: 3em;
  }

  .introduction h2{
    font-size:1.5em;
    padding-top:10px;
  }
  .introduction h3{
    font-size: 1.25em;
    padding-bottom: 30px;
  }
  .search{
    margin-top:0px;
  }
  .result{
    margin-top:0px;
  }
}
// navbar styling
.navbar{
  background-color: rgba(175, 194, 213, 1);
  border: 0px;

}

.navbar-default .navbar-brand{
  color: #000;
  font-family: 'Lobster Two', cursive;
  font-size: 38px;
}

.navbar-default .navbar-nav > li > a {
  color: #333;
}


.panel {

  box-shadow: 20px 20px 20px #373535;
}


.actions {
  padding-top: 15px;
  padding-bottom:35px;
}

.signup-user{
  color:#000;
}

.user {
  padding-top:80px;
}
